<section class="product_section layout_padding">
      <div class="container">
         <div class="heading_container heading_center">
            <h2>
               Our <span>products</span>
            </h2>
         </div>
         <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add to cart
                        </a>
                        <a href="addCard/62f37b52afe105da857bd122" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images1.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price1}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37b92afe105da857bd124" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image2.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                       ${{price2}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bb9afe105da857bd126" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image3.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                     ${{price3}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bbeafe105da857bd128" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images5.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price4}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bc4afe105da857bd12a" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images5.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price5}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bc9afe105da857bd12c" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images6.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price6}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bcdafe105da857bd12e" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image7.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price7}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bd3afe105da857bd130" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images8.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price8}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bd8afe105da857bd132" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image9.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price9}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37bddafe105da857bd134" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images10.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                        ${{price10}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37be2afe105da857bd136" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/image11.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price11}}
                     </h6>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
               <div class="box">
                  <div class="option_container">
                     <div class="options">
                        <a href="" class="option1">
                           Add To Cart
                        </a>
                        <a href="addCard/62f37be6afe105da857bd138" class="option2">
                           Buy Now
                        </a>
                     </div>
                  </div>
                  <div class="img-box">
                     <img src="css/images/images12.jpg" alt="">
                  </div>
                  <div class="detail-box">
                     <h5>
                        Stylish Specs
                     </h5>
                     <h6>
                         ${{price12}}
                     </h6>
                  </div>
               </div>
            </div>
         </div>
         <div class="btn-box">
            <a href="">
               View All products
            </a>
         </div>
      </div>
   </section>